.navbar-background{
    background-color: #15494F;
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    border-top: None;
}
.settings-background{
    background-color: #1E646E;
    display: flex;
    padding: 20px;
}
.settings-input-range{
    background-color: #7DBFC8;
    display: flex;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
}
.settings-input-range p{
    margin-right: 10px;
}
.button-selected{
    position: relative;
    background-color: #1E646E;
    border: None;
    height: 100%;
    cursor: pointer;
    color: white;
    padding: 10px;
}
.navbar-background > div > button:nth-child(2).button-selected {
    border-right: 2px solid rgba(255, 255, 255, 0.6);
}
.button-selected::after {
    content: '';
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1E646E;
}
.button-normal{
    background-color: #0D363B;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    border-left: 2px solid rgba(255, 255, 255, 0.6);
    border-right: 2px solid rgba(255, 255, 255, 0.6);
    border-top: None;
    height: 100%;
    cursor: pointer;
    color: white;
    padding: 10px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
@media (max-width: 500px) {
    .icons{
        display: None;
    }
  
}