.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--standardBlue);
    width: 100%;
    height: 4em;
}

.logo-container {
    display: flex;
}