.Background-Bottom-Navbar{
    background-color: #1E646E;
    display: flex;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.button-icon{
    border: 2px solid #7DBFC8;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E646E;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}
.button-text-icon{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #7DBFC8;
    border: None;
    padding: 10px;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.30));
    cursor: pointer;
}
.button-text-icon p{
    margin-right: 10px;
}
@media (max-width: 500px) {
    .Background-Bottom-Navbar{
        padding: 0px;
        display: flex;
        flex-direction: column;
        height: auto;
    }
  
}