:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --standardBlue: #009B9B;
  --inactiveBlue: #028F8F;
  --highlightBlue: #4FAFAF;
  --solidWhite: #FFFFFF; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "RobotoMonoRegular";
  src: local("RobotoMonoRegular"),
  url("./assets/fonts/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMonoLight";
  src: local("RobotoMonoLight"),
  url("./assets/fonts/RobotoMono-Light.ttf") format("truetype");
}



